header{
  height: 85px;
  background-color: black;
  color: white;
  font-size: 55px;
}

.before::after{
  content: " Mornings";
  color: yellow;
}

.ordered{
  height: 45px;
  font-size: 25px;
}

li::first-letter{
  font-family: cursive;
  font-weight: bolder;
  color: orange;
  font-size: 50px;
}

li:nth-child(2){
  background-color: yellow;
  color:black;
}
.after::before{
  content: "I have to broom, wash dishes, and then ";
  color: purple;
}

.words{
  margin-left: 30px;
  font-size: 25px;
}

p:first-child:first-letter{
  color: red;
  font-family: cursive;
  font-size: 55px;
  font-weight: bolder;

}
